<!DOCTYPE html>
<html lang="vi" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Yasuo Shop</title>

    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <%- include('header'); -%>

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Lịch sử giao dịch</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product">Lịch sử giao dịch</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
<div class="container">
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Mã hóa đơn</th>
					<th>Thành tiền</th>
					<th>Ngày thanh toán</th>
					<th>Địa chỉ nhận</th>
					<th>Người nhận</th>
					<th>Số điện thoại</th>
					<th>Email</th>
					<th>Tình trạng giao hàng</th>
				</tr>
			</thead>
			<tbody>
			<% for(var i=0; i<bills.length; i++) {%>
				<tr>
					<td><%= bills[i].id %></td>
					<td>$<%= bills[i].thanhtien %></td>
					<td><%= bills[i].ngaythanhtoan %></td>
					<td><%= bills[i].address %></td>
					<td><%= bills[i].name %></td>
					<td><%= bills[i].phonenumber %></td>
					<td><%= bills[i].email %></td>
					<% if(bills[i].tinhtranggiao == 0){ %>
					<td><span class="label label-warning">Đang giao</span></td>
					<% } %>
					<% if(bills[i].tinhtranggiao == 1){ %>
						<td><span class="label label-success">Đã giao</span></td>
					<% } %>
					<% if(bills[i].tinhtranggiao == 2){ %>
						<td><span class="label label-danger">Chưa giao</span></td>
					<% } %>
				</tr>
			<% } %>	
			</tbody>
		</table>
	</div>
</div>
			<%- include('footer'); -%>




	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>