<%- include('header'); -%>
<div class="panel">
	<div class="panel-heading">
		<h3 class="panel-title">Tất cả tài khoản</h3>
		<div class="right">
			<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
			<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
		</div>
	</div>
	<div class="panel-body no-padding">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Mã tài khoản</th>
					<th>Email</th>
					<th>Tên hiển thị</th>
					<th>Tình trạng</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<% for(var i=0; i<users.length; i++) {%>
				<tr>
					<td><a href="#"><%= users[i].id %></a></td>
					<td><%= users[i].email %></td>
					<td><%= users[i].name %></td>

					<% if(users[i].stt == 0){ %>
					<td><span class="label label-danger">Đã bị hủy</span></td>
					<td></td>
					<% } else{ %>  
						<td><span class="label label-success">Hoạt động</span></td>
						<td><a href="/quan_ly_admin/delete/<%= users[i].id %>" onClick="return confirm('Bạn chắc chắn muốn hủy tài khoản?')">Hủy tài khoản</a></td>
					<% } %>
				</tr>
			<% } %>	
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-6"><span class="panel-note"></span></div>
			<ul class="pagination justify-content-end">
			<% if(curPage == 1){ %>
				<li class="page-item"><a class="page-link" href="#">Trước</a></li>
			    <li class="page-item"><a class="page-link" href="#">1</a></li>
			    <li class="page-item"><a class="page-link" href="/quan_ly_admin?page=2">2</a></li>
			    <li class="page-item"><a class="page-link" href="/quan_ly_admin?page=3">3</a></li>
			<% } else{ %>  
				<li class="page-item"><a class="page-link" href="/quan_ly_admin?page=<%= curPage - 1 %>">Trước</a></li>
			    <li class="page-item"><a class="page-link" href="/quan_ly_admin?page=<%= curPage - 1 %>"><%= curPage - 1 %></a></li>
			    <li class="page-item"><a class="page-link" href="#"><%= curPage %></a></li>
			    <li class="page-item"><a class="page-link" href="/quan_ly_admin?page=<%= curPage + 1 %>"><%= curPage + 1 %></a></li>
			<% } %>
			    <li class="page-item"><a class="page-link" href="/quan_ly_admin?page=<%= curPage + 1 %>">Tiếp theo</a></li>
			</ul>

		</div>
	</div>
</div>

<div class="col-md-6 text-right"><a href="/signup" class="btn btn-primary">Tạo tài khoản admin</a></div>
<hr><hr>

<div class="panel-heading">
	<h3 class="panel-title">Hoạt động mọi người dùng gần đây</h3>
	<div class="right">
		<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
		<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
	</div>
</div>
<div class="panel-body">
	<ul class="list-unstyled activity-list">
		<li>
			<img src="images/user1.png" alt="Avatar" class="img-circle pull-left avatar">
			<p><a href="profile">Michael</a> đã bình luận về một bài post thuê nhà <span class="timestamp">20 phút trước</span></p>
		</li>
		<li>
			<img src="images/user2.png" alt="Avatar" class="img-circle pull-left avatar">
			<p><a href="profile">Daniel</a> đã thêm <a href="profile">Nhà cấp 3</a> vào giỏ hàng  <span class="timestamp">30 phút trước</span></p>
		</li>
		<li>
			<img src="images/user3.png" alt="Avatar" class="img-circle pull-left avatar">
			<p><a href="profile">Martha</a> đã truy cập <a href="profile">Landing Page</a> <span class="timestamp">2 ngày trước</span></p>
		</li>
		<li>
			<img src="images/user4.png" alt="Avatar" class="img-circle pull-left avatar">
			<p><a href="profile">Jane</a> đã rao bán một căn hộ <span class="timestamp">2 ngày trước</span></p>
		</li>
		<li>
			<img src="images/user5.png" alt="Avatar" class="img-circle pull-left avatar">
			<p><a href="profile">Jason</a> đã tạo cuộc thảo luận  <a href="profile">Weekly Meeting</a> <span class="timestamp">3 ngày trước</span></p>
		</li>
	</ul>
	<button type="button" class="btn btn-primary btn-bottom center-block">Thêm</button>
</div>
<%- include('footer'); -%>

</body>

</html>
<td><span class="label label-warning">Hoạt động 20 phút trước</span></td>