
<div class="row justify-content-center">
    <img id="imgShow" src="../../../public/img/{{proID}}/main.jpg">
</div>
<div class="row py-3">
    <div class="col-sm-4">
        <a onclick="test('../../../public/img/{{proID}}/main.jpg')"><img src="../../../public/img/{{proID}}/main_thumbs.jpg"></a>
    </div>
    <div class="col-sm-4">
        <a onclick="test('../../../public/img/{{proID}}/1.jpg')"><img src="../../../public/img/{{proID}}/1_thumbs.jpg"></a>
    </div>
    <div class="col-sm-4">
        <a onclick="test('../../../public/img/{{proID}}/2.jpg')"><img src="../../../public/img/{{proID}}/2_thumbs.jpg"> </a>
    </div>
    
</div>